.order-container {
  width: 100%;
  max-width: 1180;
  padding: 0 30px;
  height: 100vh;
  margin: 32px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff8822;
}
